body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head{
  float: left;
  font-weight: 200;
  font-size:larger;
  font-style: normal;
  color: white;
  height: 55px;
}

.head2{
  text-align: right;
  font-weight: 200;
  font-size:larger;
  font-style: normal;
  color: white;
  height: 55px;
}

.header{
  text-align: center;
  font-weight: 200;
  font-size:medium;
  font-style: normal;
  color: white;
  height: 50px;
}

.side{
  font-weight: 300;
  font-size:smaller;
  font-style: normal;
  color: black;
  text-align: left;
  margin-left: 100px;
}

.date{
  font-weight: 300;
  font-size:smaller;
  font-style: normal;
  color: black;
  text-align: right;
  margin-right: 50px;
  margin-top: -10px;


}

.recently{
  font-weight: 300;
  font-size:smaller;
  font-style: normal;
  color: black;
  text-align: left;
  margin-right: 50px;
  margin-top: 40px;
}

.top{ 
  text-align: left;
  margin-top: 50px;
  margin-left: 30px;
}

.confirm{
  height: 35px;
  width: 85px;
}

.suki{
  text-align: left;
  margin-top: 76px;
  margin-left: 30px;
  color: black;
}
.bar{
  height: 40px;
  width: 3px;
  float: left;
  margin-left: 30px;
  color: red;
}

.headlines{
  font-weight: 500;
  font-size:smaller;
  font-style: normal;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.FormLabel{
  float: left;
  
}

.brandLabel{
  text-align: left;
  font-weight: 600;
  font-size:medium;
  font-style: normal;
  color: white;
  height: 50px;
}

.form
{
  max-width: 100%;
  width: 500px;
 
  margin-left: 150px;
  margin-top: 150px;
}


.login{
  margin-left: -370px;
  
}

.all{
  margin-top: 100px;
}

.signup{
  margin-left: 60px;
}

.icons{
  height: 40px;
  width: 30px;
}

.icon{
  margin-left: 50px;
}

.img{
  
  float: left;
  padding-left: -300px;
}

.brand{
  width: 100px;
  height: 100px;
}

.navcon{
  border-width: 1px;
  border-color: grey;
  border-bottom-style: solid ;
}

.col{
  border-width: 1px;
  border-color: grey;
  border-right-style: solid ;
  
}

.row{
  margin-top: -100px;
}

.submit{

  margin-right: 150px;

}

.forgot{
  float: right;
}

.custom-thead {
  font-weight: 600;
  font-style: normal;
}



.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
